* {
    font-family: 'Quicksand', sans-serif;
}
:root {
    --body-bg: linear-gradient(135deg, #F5F7FA 0%, #c3CFE2 100%);
    --msger-bg: #FFF;
    --border: 2px solid #DDD;
    --left-msg-bg: #ECECEC;
    --right-msg-bg: #579FFB;
}
html {
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, 
    #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    /*background-image: var(--body-bg);*/
    animation: gradient 15s ease infinite;
}

/* Header */
.penrose-64 {
    max-width: 64px;
    height: auto;
    /*transform: rotate(180deg);*/
    animation: rotate 15s ease infinite;
}
.penrose-animation {
    -webkit-animation: rotate 15s ease infinite;
    -moz-animation: rotate 15s ease infinite;
    -o-animation: rotate 15s ease infinite;
    animation: rotate 15s ease infinite;
}
h1 {
    width: auto;
    position: relative;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}
.messenger img {
    position: absolute;
}

/* Chat Box */
.messenger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1250px;
    margin: 25px 10px;
    height: calc(100% - 100px);
    border: var(--border);
    border-radius: 5px;
    background: var(--msger-bg);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}
.messenger-header {
    display: flex;
    justify-content: center;
    padding: 20px;
    border-bottom: var(--border);
    background: #eee;
    color: #666;
}

/* Messenger User */
.messenger-chat {
    max-height: 800px;
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}
.messenger-chat::-webkit-scrollbar {
    width: 6px;
}
.messenger-chat::-webkit-scrollbar-track {
    background: #DDD;
}
.message {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}
.message:last-of-type {
    margin: 0;
}
.message-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }
.message-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
}
.message-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.message-info-name {
    margin-right: 10px;
    font-weight: bold;
}
.message-info-time {
    font-size: 0.85em;
}

.left-message .message-bubble {
    border-bottom-left-radius: 0;
}
.right-message {
    flex-direction: row-reverse;
}
.right-message .message-bubble {
    background: var(--right-msg-bg);
    color: #FFF;
    border-bottom-right-radius: 0;
}
.right-message .message-image {
    margin: 0 0 0 10px;
}

/* Input Area For Chat */
.messenger-inputarea {
    display: flex;
    padding: 10px;
    border-top: var(--border);
    background: #EEE;
}
.messenger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
}
.messenger-input {
    flex: 1;
    background: #DDD;
}
.messenger-send-btn {
    margin-left: 10px;
    background: rgb(0, 196, 65);
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
}
.messenger-send-btn:hover {
    background: rgb(0, 180, 50);
}

/* Leaderboard */
.leaderboard {
    clear: both;
    position: relative;
    width: auto;
    min-width: 45%;
    height: 308px;
    background: -webkit-linear-gradient(top, #3A404D, #181C26);
    border-radius: 10px;
    box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
    margin-top: 15px;
}
.leaderboard h1 {
    font-size: 18px;
    color: #E1E1E1;
    padding: 12px 13px 18px;
}
.leaderboard h1 svg {
    width: 25px;
    height: 26px;
    position: relative;
    top: 3px;
    margin-right: 6px;
    vertical-align: baseline;
}

/* Popup */
.popup-box {
    display: none;
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}
.popup-inner {
	max-width: 35rem;
	min-height: 160px;
	background: white;
    border-radius: 25px;
	padding: 15px;
	margin: auto;
	top: 20%;
	position: relative;
}
.popup-msg {
	font-weight: bold;
	color: black;
    margin-top: 15px;
	margin-bottom: 15px;
}
.popup-msg-icon {
    margin: 15px 0 15px 0;
    width: 50px;
    height: 50px;
    background: #DDD;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
.transparent-layer {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.3;
    overflow: hidden;

}

/* Animation */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@-webkit-keyframes rotate {
    0% {transform:rotate(0deg);}
    50% {transform:rotate(360deg);}
    100% {transform:rotate(360deg)}
}
@-moz-keyframes rotate {
    0% {transform:rotate(0deg);}
    50% {transform:rotate(360deg);}
    100% {transform:rotate(360deg)}
}
@-o-keyframes rotate {
    0% {transform:rotate(0deg);}
    50% {transform:rotate(360deg);}
    100% {transform:rotate(360deg)}
}
@keyframes rotate {
    0% {transform:rotate(0deg);}
    50% {transform:rotate(360deg);}
    100% {transform:rotate(360deg)}
}